/* GREEN */
:root {
	--dark-color: #334441;
	--dark-color-filter: invert(23%) sepia(9%) saturate(1019%) hue-rotate(119deg) brightness(90%) contrast(86%);
	--light-color: #E5F2ED;
	--light-color-filter: invert(90%) sepia(8%) saturate(185%) hue-rotate(105deg) brightness(107%) contrast(91%);
	--light-color-dark: #c0d6ce;
	--contrast-color: #E2BB6F;
	--contrast-dark: #c09f5d;
}















